___
# Ciência dos Dados - PROJETO 1

## Renato Tajima e Thiago Verardo
___

## Descrição do perfil dos brasileiros economicamente ativos

___
## Introdução

O objetivo do projeto é analisar o perfil dos brasileiros economicamente ativos. Com isso, iremos analisar variáveis que influenciam um brasileiro a ser ativo economicamente, seja pela classe, escolaridade, estado, ou o que quisermos ver se é relacionado. 

As informações serão retiradas da PNAD.

___
## Filtros da base de dados

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\thive\Desktop\Insper\Terceiro Semestre\CDdp\CDdp

In [4]:
DF_2015 = pd.read_csv('PES2015.csv',sep=',')
DF_2011 = pd.read_csv('PES2011.csv',sep=',')

In [5]:
DF_2011.head()

,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,V8005,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
0,2011,11,11000000.0,1,1,2,25,12,1961,49,...,4.0,1.000000e+12,99.0,2,1.0,2.0,2.0,1.0,1.000000e+12,20100000.0
1,2011,11,11000000.0,1,2,4,1,4,1978,33,...,4.0,1.000000e+12,99.0,6,2.0,NaN,NaN,2.0,1.000000e+12,20100000.0
2,2011,11,11000000.0,1,3,4,15,6,1996,15,...,4.0,1.000000e+12,99.0,3,2.0,NaN,NaN,2.0,1.000000e+12,20100000.0
3,2011,11,11000000.0,1,4,2,3,12,2001,9,...,4.0,1.000000e+12,99.0,2,2.0,NaN,NaN,2.0,1.000000e+12,20100000.0
4,2011,11,11000000.0,2,1,4,16,10,1959,51,...,4.0,1.461000e+03,5.0,4,1.0,2.0,2.0,1.0,1.461000e+03,20100000.0

# Variáveis escolhidas:

Unidade de Federação, sexo, idade, cor ou raça, estado civil, saber ler e escrever, rede de ensino, tem telefone móvel.

In [6]:
DF_2011_novo = pd.DataFrame()
DF_2011_novo[['UF','SEXO','IDADE','RAÇA','EST_CIV','LER_ESC','REDE_ENS', 'MOBILE']] = DF_2011[['UF','V0302','V8005','V0404','V4011','V0601','V6002', 'V06112']]
DF_2011_novo.head()

   UF  SEXO  IDADE  RAÇA  EST_CIV  LER_ESC  REDE_ENS  MOBILE
0  11     2     49     2      NaN        1       NaN     1.0
1  11     4     33     8      NaN        1       4.0     1.0
2  11     4     15     8      0.0        1       2.0     3.0
3  11     2      9     2      NaN        1       2.0     NaN
4  11     4     51     4      1.0        1       NaN     1.0

In [8]:
try:
    DF_2011_novo.loc[(DF_2011_novo.UF == 11), "UF"] = "Rondonia"
    DF_2011_novo.loc[(DF_2011_novo.UF == 12), "UF"] = "Acre"
    DF_2011_novo.loc[(DF_2011_novo.UF == 13), "UF"] = "Amazonas"
    DF_2011_novo.loc[(DF_2011_novo.UF == 14), "UF"] = "Roraima"
    DF_2011_novo.loc[(DF_2011_novo.UF == 15), "UF"] = "Pará"
    DF_2011_novo.loc[(DF_2011_novo.UF == 16), "UF"] = "Amapá"
    DF_2011_novo.loc[(DF_2011_novo.UF == 17), "UF"] = "Tocantins"
    DF_2011_novo.loc[(DF_2011_novo.UF == 21), "UF"] = "Maranhão"
    DF_2011_novo.loc[(DF_2011_novo.UF == 22), "UF"] = "Piauí"
    DF_2011_novo.loc[(DF_2011_novo.UF == 23), "UF"] = "Ceará"
    DF_2011_novo.loc[(DF_2011_novo.UF == 24), "UF"] = "Rio Grande do Norte"
    DF_2011_novo.loc[(DF_2011_novo.UF == 25), "UF"] = "Paraíba"
    DF_2011_novo.loc[(DF_2011_novo.UF == 26), "UF"] = "Pernambuco"
    DF_2011_novo.loc[(DF_2011_novo.UF == 27), "UF"] = "Alagoas"
    DF_2011_novo.loc[(DF_2011_novo.UF == 28), "UF"] = "Sergipe"
    DF_2011_novo.loc[(DF_2011_novo.UF == 29), "UF"] = "Bahia"
    DF_2011_novo.loc[(DF_2011_novo.UF == 31), "UF"] = "Minas Gerais"
    DF_2011_novo.loc[(DF_2011_novo.UF == 32), "UF"] = "Espírito Santo"
    DF_2011_novo.loc[(DF_2011_novo.UF == 33), "UF"] = "Rio de Janeiro"
    DF_2011_novo.loc[(DF_2011_novo.UF == 35), "UF"] = "São Paulo"
    DF_2011_novo.loc[(DF_2011_novo.UF == 41), "UF"] = "Paraná"
    DF_2011_novo.loc[(DF_2011_novo.UF == 42), "UF"] = "Santa Catarina"
    DF_2011_novo.loc[(DF_2011_novo.UF == 43), "UF"] = "Rio Grande do Sul"
    DF_2011_novo.loc[(DF_2011_novo.UF == 50), "UF"] = "Mato Grosso do Sul"
    DF_2011_novo.loc[(DF_2011_novo.UF == 51), "UF"] = "Mato Grosso"
    DF_2011_novo.loc[(DF_2011_novo.UF == 52), "UF"] = "Goiás"
    DF_2011_novo.loc[(DF_2011_novo.UF == 53), "UF"] = "Distrito Federal"

except:""
    
DF_2011_novo.UF.value_counts()

São Paulo              38237
Minas Gerais           31842
Rio Grande do Sul      28459
Bahia                  27795
Rio de Janeiro         25094
Pará                   23539
Pernambuco             21135
Ceará                  18951
Paraná                 17794
Goiás                  14953
Amazonas               11308
Santa Catarina          9724
Maranhão                9168
Distrito Federal        8732
Mato Grosso             7378
Espírito Santo          7135
Rondonia                6825
Mato Grosso do Sul      6414
Paraíba                 6169
Sergipe                 5894
Tocantins               5892
Piauí                   5618
Alagoas                 5534
Rio Grande do Norte     5427
Acre                    4076
Amapá                   3075
Roraima                 2751
Name: UF, dtype: int64

In [13]:
try:
    DF_2011_novo.loc[(DF_2011_novo.UF == 11), "UF"] = ""
    
except:""
    
DF_2011_novo.UF.head()

0    Rondonia
1    Rondonia
2    Rondonia
3    Rondonia
4    Rondonia
Name: UF, dtype: object

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!